
h1 {
   font-family: Arial; 
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -130px; }

#chart {
    position: absolute;
    top: 100px;
    left: 5%;}

/* To make the region header sticky */
#headerdiv {
    position: sticky;
    top: 0px;}