/* MODAL ELEMENTS */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalcontent {
    position: relative;
    background-color: /*br1*/#E0C9A6;
    font-family: Arial;
    margin: auto;
    padding: 0;
    border: 1px solid /*br1*/#E0C9A6;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Modal Header */
.modalheader {
    padding: 2px 16px;
    background-color: /*bl2*/#A6BDE0;
    color: black;
}

/* Modal Body */
.modalbody {
    padding: 2px 16px;
    color: black;
}

/* Modal Footer */
.modalfooter {
    padding: 6px 0px;
    background-color: /*bl2*/#A6BDE0;
    color: /*br1*/#E0C9A6;
}

/* The Close Button */
.close {
    color: /*bl1*/#1F3659;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Launch Tutorial Button */
.modalbutton{
    background-color: /*n*/#fefbf7;
    border: none;
    text-align: center;
    display: inline-block;
    height: 25px;
    width: 100px;
    margin-left: 30px;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* blocks pointer events on entire screen */
#pointereventblock {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

/* shadow of entire screen with cutout on element */
.tutorialhighlight {
    position: absolute;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .4);
    pointer-events: none;
}


/* POPUP ELEMENTS */

.tutorialpopup {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    background-color: #555;
    border-radius: 6px;
    padding: 8px 5px;
    width: 210px;
    top: 50px;
    left: 250px;

}

/* Popup Body */
/* .tutorialpopupbody {
    text-align: center;
} */

.tutorialpopupbody span {
    color: #fff;
}

/* Popup arrow bottom */
.tutorialpopupbody span::after {
    content: "";
    position: absolute;
    top: -9px;
    left: 50%;
    transform: rotate(180deg);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Popup Footer */
.tutorialpopupfooter {
    padding: 6px 0px 0px;
}

.tutorialpopupbutton {
    margin: 5px;
}

#chartheadertutorial {
    visibility: visible; 
    z-index: 2;
}

#chartheadertutorialhighlight {
    top: 0px;
    bottom: -10px;
    right: 700px;
    left: 90px;
}